{extend name="main/index" /}
{block name="main"}
<!-- Start right content -->
<div class="content-page">
    <!-- ============================================================== -->
    <!-- Start Content here -->
    <!-- ============================================================== -->
    <div class="content">
        <!-- Page Heading Start -->
        <div class="page-heading">

            <!-- Page Heading End-->                <!-- Your awesome content goes here -->
            <div class="row">

                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-header transparent">
                            <h2><strong>{$title}</strong></h2>
                            <div class="additional-btn">
                                <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="table-responsive">
                                <table data-sortable class="table">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>公司名称</th>
                                        <th>公司地址</th>
                                        <th>联系方式</th>
                                        <th>状态</th>
                                        <th data-sortable="false">操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {volist name="list" id="v"}
                                    <tr>
                                        <td>{$v.id}</td>
                                        <td>{$v.name}</td>
                                        <td>{$v.address}</td>
                                        <td>{$v.tel}</td>
                                        <td>
                                            {if condition="$v.status == 1"}
                                            <button class="btn btn-info update" data-id="{$v.id}">待审核</button>
                                            {else/}
                                            <button class="btn btn-default">已通过</button>
                                            {/if}
                                        </td>
                                        <td>
                                            <a href="{:url('admin/Merchant/read', ['id'=>$v['id']])}" class="btn btn-success">详细信息</a>
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                            {$list->render()}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/admin/assets/js/jquery.min.js"></script>
<script src="/static/admin/assets/js/toastr.min.js"></script>
<script>
$(function() {
  $('.update').click(function(){
        var id = $(this).attr('data-id');
        var obj = $(this);
        upAjax(id,obj);
  });
});

// 执行AJAX删除
function upAjax(id,obj) {
    $.ajax({
        type: 'put',
        url: '/Mer/' + id,
        dataType : 'json',
        success : function (data){
            console.log(data);
            toastr.success(data.info);
            obj.removeAttr('data-id').removeClass('update').removeClass('btn-info').addClass('btn-default').html('已通过');
        },
        error : function () {
            alert('AJAX执行失败!');
        }
    });
}

</script>
{/block}