{extend name="main/index" /}
{block name="main"}
<div class="content-page">
    <!-- ============================================================== -->
    <!-- Start Content here -->
    <!-- ============================================================== -->
    <div class="content">
        <!-- Your awesome content goes here -->
        <div class="widget transparent animated fadeInDown">
            <h2><strong>{$banner}</strong></h2>
            <div class="gallery-wrap">
                {volist name="banners" id="vo"}
                <div class="column">
                    <div class="inner">
                        <!--<a class="zooming" href="images/big/img001.jpg" title="Image title here">-->
                            <div class="img-wrap">
                                <img src="/uploads/banner/{$vo.icon}" alt="Image gallery" title="Image title here" class="mfp-fade">
                            </div>
                        <!--</a>-->
                    </div>
                    <button class="btn btn-primary">显示</button>
                    <button class="btn btn-primary btn-danger" data-id="{$vo.id}">删除</button>
                    <!--<button class="btn btn-primary">修改</button>-->
                </div>
                {/volist}
            </div>
        </div>
        <div class="widget transparent animated fadeInDown">
            <h2><strong>{$show}</strong></h2>
            <div class="gallery-wrap">
                {volist name="shows" id="vo"}
                <div class="column">
                    <div class="inner">
                        <!--<a class="zooming" href="images/big/img001.jpg" title="Image title here">-->
                        <div class="img-wrap">
                            <img src="/uploads/evr/{$vo.icon}" alt="Image gallery" title="Image title here" class="mfp-fade">

                        </div>
                        <strong style="color: #0b0b0b">简介</strong><p style="color: red">{$vo.comment}</p>
                        <!--</a>-->
                    </div>
                    <button class="btn btn-primary">显示</button>
                    <button class="btn btn-danger " data-id="{$vo.id}">删除</button>
                    <!--<button class="btn btn-primary">修改</button>-->
                </div>
                {/volist}
            </div>
        </div>

        <!-- Footer Start -->
        <footer>
            Huban Creative &copy; 2014
            <div class="footer-links pull-right">
                <a href="#">About</a><a href="#">Support</a><a href="#">Terms of Service</a><a href="#">Legal</a><a href="#">Help</a><a href="#">Contact Us</a>
            </div>
        </footer>
        <!-- Footer End -->
    </div>
    <!-- ============================================================== -->
    <!-- End content here -->
    <!-- ============================================================== -->

</div>
<!-- End right content -->
{/block}