{extend name="main/index" /}
{block name="main"}
<!-- Right Sidebar End -->
<!-- Start right content -->
<div class="content-page">
    <!-- ============================================================== -->
    <!-- Start Content here -->
    <!-- ============================================================== -->
    <div class="content">
        <!-- Your awesome content goes here -->
        <div class="widget transparent animated fadeInDown">
            <h2><strong>轮播图管理</strong></h2>

            <div class="gallery-wrap">

                <div class="column">
                    <div class="inner">
                        <!-- <a class="zooming" href="images/big/img001.jpg" title="Image title here"> -->
                        <div class="img-wrap">
                            <img src="images/small/img001_small.jpg" alt="Image gallery" title="Image title here"
                                 class="mfp-fade">
                        </div>
                        <p>123</p>
                        <button class="btn btn-success col-md-12">显示</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{/block}