{extend name="index/index" /} 
{block name="main"}
    <div class="main">
    	<h2 style="margin-left:80px">用户注册</h2>
		<form action="{:url('index/Register/check')}" class="form-horizontal" name="regForm" method="post" onsubmit="return checkForm()">
		  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label" style="top">用户名</label>
			    <div class="col-sm-4">
			      <input type="text" name="name" value="" class="form-control" id="inputEmail3" placeholder="请输入用户名" onblur="checkUser()" >
               	  <p id="utab">* 必填项,请用户名(6-12位,数字字母下划线)</p>
			    </div>
		  </div>
		  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">输入密码</label>
			    <div class="col-sm-4">
			      <input type="password" name="pwd" value="" class="form-control" id="inputPassword3" placeholder="请输入密码" onblur="checkPass()" >
                  <p id="ptab">* 必填项,请6-18位的密码</p>
				</div>
		  </div>
		  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
			    <div class="col-sm-4">
			      <input type="password" name="repass" value="" class="form-control" id="inputPassword3" placeholder="重复输入密码" onblur="checkRepass()" >
               	  <p id="rptab">* 必填项,请再输入密码</p>
				</div>
		  </div>
		  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">手机号码</label>
			    <div class="col-sm-4">
			      <input type="text" name="tel" value="" class="form-control" id="inputPassword3" placeholder="输入手机号码" onblur="checkTel()" >
               	  <p id="ttab">* 必填项,请输入您的手机号码</p>
				</div>
		  </div>

		  <div class="col-md-offset-1 login-input">
                <div class="btn btn-default getMsg">获取短信验证码</div>
                &nbsp;&nbsp;
                <input type="text" name="msg" placeholder="输入短信验证码" >
               	 <p class="col-md-offset-1" id="mtab">&nbsp;&nbsp;&nbsp;* 必填项,请输入验证码</p>
     	  </div>

		  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" id="aaa" class="btn btn-warning">注册</button>
			    </div>
		  </div>
		</form>
	</div>
    <script>

    	
        // 用户名检测
        function checkUser() {
            var user = document.regForm.name.value;
            var utab = document.getElementById('utab');
            var name_state = false;
            if (user.match(/^\w{6,12}$/) == null) {
                utab.innerHTML = '* 用户名格式不正确!';
                utab.style.color = '#f00';
                return false;
            } else {
                utab.innerHTML = '* 验证通过!';
                utab.style.color = '#0a0';
                name_state = true;
                return true;
            }
        }

        // 密码检测
        function checkPass() {
            var pass = document.regForm.pwd.value;
            var ptab = document.getElementById('ptab');
            var pass_state = false;

            if (pass.length < 6 || pass.length > 18) {
                ptab.innerHTML = '* 密码长度不合法!';
                ptab.style.color = '#f00';
                return false;
            } else {
                ptab.innerHTML = '* 验证通过!';
                ptab.style.color = '#0a0';
                pass_state = true;
                return true;
            }
        }

        // 密码检测
        function checkRepass() {
            var pass = document.regForm.pwd.value;
            var repass = document.regForm.repass.value;
            var rptab = document.getElementById('rptab');
            var repass_state = false;
            if(repass.length == 0 ) {
            	rptab.innerHTML = '* 密码长度不合法!';
            	rptab.style.color = '#f00';
            	return false;
            }
            if (pass !== repass) {
                rptab.innerHTML = '* 两次密码不一致!';
                rptab.style.color = '#f00';
                return false;
            } else {
                rptab.innerHTML = '* 验证通过!';
                rptab.style.color = '#0a0';
                repass_state = true;
                return true;
            }
        }
        //号码验证
        function checkTel(){
        	var tel = document.regForm.tel.value;
        	var ttab = document.getElementById('ttab');
        	var tel_state = false;
        	if (tel.match(/^1[34578]\d{9}$/) == null) {
                ttab.innerHTML = '* 手机号码格式不正确!';
                ttab.style.color = '#f00';
                return false;
            } else {
                ttab.innerHTML = '* 验证通过!';
                ttab.style.color = '#0a0';
                return true;
                tel_state = true;
            }
        }

        // 提交验证
        function checkForm() {
            return checkUser() && checkPass() && checkRepass() && checkTel();
        	var aaa = document.getElementById('aaa');
            if(Name_state && pass_state && repass_state && tel_state){
            	aaa.removeAttribute("disabled"); 
            }
        }


		$(document).ready(function() {
	        $('.getMsg').click(function(){
	          getMsgAjax();
	       		 });
 	  	});
        // 执行AJAX删除
        function getMsgAjax() {
            $.ajax({
                type: 'get',
                url: '/getMessage/',
                dataType : 'json',
                success : function (data){
                    alert('短信已发送');
                },
                error : function () {
                    alert('短信发送失败,请稍后再试!');
                }
            });
        }

    </script>
{/block}



