{extend name="main/index" /}
{block name="main"}
<!-- Start right content -->
<div class="content-page">
    <!-- ============================================================== -->
    <!-- Start Content here -->
    <!-- ============================================================== -->
    <div class="content">
        <!-- Page Heading Start -->
        <div class="page-heading">

            <!-- Page Heading End-->                <!-- Your awesome content goes here -->
            <div class="row">

                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-header transparent">
                            <h2><strong>{$title}</strong></h2>
                            <div class="additional-btn">
                                <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                                <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                            </div>
                        </div>
                        <div class="widget-content">
                            <div class="table-responsive">
                                <table data-sortable class="table">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>分类名:</th>
                                        <th>pid</th>
                                        <th>path</th>
                                        <th>sort</th>
                                        <th data-sortable="false">操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {volist name="list" id="vo"}
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.name}</td>
                                        <td>{$vo.pid}</td>
                                        <td>{$vo.path}</td>
                                        <td>{$vo.sort}</td>
                                        <td>
                                            <button class="btn btn-success">编辑</button>
                                            <button class="btn btn-danger">删除</button>
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}